﻿
<h2>index</h2>

<p>Code = @ViewBag.code</p>

<script>
    var code = '@(ViewBag.code)';
    var state = '@(ViewBag.state)';
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/fhir-client.js"></script>
<script src="~/js/launch.js"></script>
