﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcClient</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MvcClient</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--"<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Secure">Secure</a></li>-->
                    <li><a href="http://localhost:5000/connect/authorize?launch=1234&client_id=sof&redirect_uri=http%3A%2F%2Flocalhost%3A5002%2FLaunched&response_type=code%20id_token&scope=openid%20profile%20api1%20offline_access&response_mode=form_post&nonce=636628729066558405.YzM3N2NhZDEtOTYwMi00NWYzLTgyNjgtYzVkNGFiYTRmZjNkYzQ5Y2I5ZjMtZTFjYS00MTkwLWIyOWQtYzA3ZjA0Y2IxNzhj&state=CfDJ8MBaBzOx4pBEsdguO-E64CDqIjRVHMNCT9SAKDkOsrRvkBcyt1Y4lFzwrviIVP3xjP1v-lhtiHZgHKSTjzQKqZaObFZR01Q1TrU8ur-DcDxfjNhoAZL--IRcHdJPQT4FUAdczkw26Zuz5mHlURavfiL7Ig6fz9UJbA_HKHP9KjTeTU0tCUv_PkN0vG0KT_Lw97vGKRFhfNcvXxBXO6toGLvd8_LgpqAGRQvtFHNdmX9x2Ws5B5ZmEEnszz5mFzfzLSTCIbm-AEX-azFCsNtbexwwOg0q5p66yRQCKudM1RYwDTM_LB8UHHj3MyDkbyImlG6HFDOjVLz5hRKyYY95OVI&x-client-SKU=ID_NET&x-client-ver=2.1.4.0">Launch1</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - MvcClient</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
